
body{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
}

footer{
    background-color: darkgrey;
    margin-top: 25px;
}

p{
    text-transform: capitalize;
    margin:0;
    padding:5px;
}

a{
    color:#2769be;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    color: #c03028;
}

title{
    text-transform: capitalize;
}

input:-webkit-autofill {
    border-style: none;
}

tbody{
    display:flex;
    flex-direction: column;
}
.header-container{
    background-color: white;
    padding: 25px;

}
.next-prev-container{
    display: flex;
    justify-content: space-between;
    margin: 5% 1%;
}

.next-prev{
    display: flex;
}

.pokemon-links-container{
    display: flex;
    justify-content: center;
    padding: 1% 20%;
    flex-wrap: wrap;
    margin:2%;
    background-color: aliceblue;
}

.pokeTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonIndexLink{
    transition-duration: 0.5s;
    cursor: pointer;
    text-transform: capitalize;
    background-color: white;
    color:black;
    text-decoration: none;
    outline: none;
    border: 1px solid black;
    display: flex;
    text-align: center;
    margin: auto;
}

.pokemonIndexLink:hover{
    background-color: black;
    color:white
}

.capitalize{
    text-transform: capitalize;
}

.pokename{
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}

.indexpokeimage{
    width: 100px;
}

.pokemonContainer{
    display: inline-block;
    margin:5px;
    padding:3px
}

.pokemonOutterContainer{
    flex-direction: row;
    margin:5% 0;
}

.pokeimage{
    width: 250px;
}

.evolutionImage{
    width: 100px;
}

.pokestats, .poketypes{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin:0 10%;
}

.pokeabilities{
    display:flex;
    flex-direction: column;
}

.stat-title{
    text-transform: uppercase;
}

.pokestat-individual-container{
    display: flex;
    align-self: start;
}

.stat-line{
    height: 10px;
    width: 10px;
    align-self: center;
    margin: 0 5px;
}
.very-low{
    background-color:#f34444;
    width: 25px;
}
.low{
    background-color:#ff7f0f;
    width: 50px;
}
.low-mid{
    background-color:#ffdd57;
    width: 75px;
}
.mid{
    background-color:#a0e515;
    width: 100px;
}
.high{
    background-color:#23cd5e;
    width: 120px;
}
.very-high{
    background-color:#00c2b8;
    width: 140px;
}


.pokedexsubfield{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding:10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.pokedexDataContainer, .trainingContainer, .breedingContainer{
    width: 90%;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #F8F7FF;
}

/* Type defense */
.type-defense-container{
    display: flex;
    justify-content: center;
}

.type-defense-element{
    display: flex;
    flex-direction: column;
    padding: 1px;
    border: 1px solid darkgrey;    
}

.type-defense-type{
    border-bottom: 1px solid lightgrey;
}



/* Evolution Section */
.evolutionContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pokemon-evolution{
    display: flex;
}

.pokemon-evolution-arrow-and-level{
    margin:auto;
}

.evolution-image{
    max-width: 100%;
}



/* Pokedex Enteries */

.pokemon-version-flavor{
    display: flex;
    text-align: left; 
    padding:10px 20px;
    border-bottom: 1px solid #d3d3d3;
}

.pokedex-entries-version{
    flex:1;
}
.pokedex-entries{
    flex:2;
}



/* Moves Section */
.singleLevelUpMoveContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 0.5px solid #d3d3d3;
    background-color: #F8F7FF;
}

.singleLevelUpMoveContainer p {
    width: 55px;
    margin: 3px;
}

.all-moves-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.level-and-egg-moves-container{
    display: flex;
    flex-direction: column;
}
.level-moves-container{
    display: flex;
    flex-direction: column;
    /* width: fit-content; add this to breakpoint*/
}

.shinypokeimage{
    width: 150px;
}







.move-data{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    background-color: #F8F7FF;
}

.move-learned-pokemon-container, .pokemon-of-type-container{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}


.item-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-version-description{
    display: flex;
    text-align: left; 
    margin:10px 20px;
}

.item-version-description p{
    flex: 1;
}


.type-page-typing-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}










.ice-type{
    background-color: #6cf;
}

.grass-type{
    background-color: #7c5;
}

.water-type{
    background-color: #39f;
}

.fire-type{
    background-color: #f42;
}

.bug-type{
    background-color: #ab2;
}

.poison-type{
    background-color: #a59;
}

.steel-type{
    background-color: #aab;
}

.dragon-type{
    background-color: #76e;
}

.fighting-type{
    background-color: #b54;
}

.fairy-type{
    background-color: #e9e;
}

.electric-type{
    background-color: #fc3;
}

.ground-type{
    background-color: #db5;
}

.flying-type{
    background-color: #89f;
}

.psychic-type{
    background-color: #f59;
}

.ghost-type{
    background-color: #66b;
}

.dark-type{
    background-color: #754;
}

.rock-type{
    background-color: #ba6;
}
.normal-type{
    background-color: #aa9;
}





.footer-space{
    height: 25px;
    background-color: #818589;
}




.type-defense-inner-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:5%; 
    margin:1%; 
    background-color:#F8F7FF
}





@media only screen and (min-width: 1024px) {
    
    .body{
        margin: 0 20%;
    }
    body{
        background-color: whitesmoke;
    }
    footer{
        margin-top: 0;
    }
    h1{
        margin:0;
        font-size: 2.5em;
    }
    h2{
        font-size: 2.5em;
    }
    h3{
        text-align: start;
        font-size: 1.75em;
    }
    h4{
        font-size: 1.3em;
        text-align: start;
    }
    .header-container{
        border-bottom: 1px solid #d3d3d3;
    }
    .pokeTitleContainer{
        background-color: white;
    }
  
    .main-container{
        background-color: white;
        padding: 0 5%;
        margin: 1%;
    }
    .next-prev-container{
        margin:0;
    }

    .data-training-master-container{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 10%;
        margin-bottom: 5%;
    }
    .pokedex-data-master-container, .training-master-conatiner{
        flex:auto;
    }
    .pokedexDataContainer{
        margin:0;
    }
    .trainingContainer{
        margin:0;
    }
    .pokestats{
        text-align: left;
    }
    .stat-title{
        width: max-content;
    }
    .stats-and-defense-container{
        display: flex;
        justify-content: center;
    }
    .very-low{
        background-color:#f34444;
        width: 50px;
    }
    .low{
        background-color:#ff7f0f;
        width: 100px;
    }
    .low-mid{
        background-color:#ffdd57;
        width: 150px;
    }
    .mid{
        background-color:#a0e515;
        width: 200px;
    }
    .high{
        background-color:#23cd5e;
        width: 250px;
    }
    .very-high{
        background-color:#00c2b8;
        width: 300px;
    }
    .type-defense-inner-container{
        background-color: white;
        max-width: 370px;
    }
    .pokedex-entries{
        flex:4;
    }
    .singleLevelUpMoveContainer p {
        width: 4.4em;
    }
  }

@media only screen and (min-width: 1500px) {
    .all-moves-container{
        flex-direction: row;
    }
}