
.test0{
    width:100;
    height: 100;
}

body{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
}

footer{
    background-color: #d3d3d3;
    margin-top: 25px;
}

p{
    text-transform: capitalize;
    margin:0;
    padding:5px;
}

a{
    color:black;
    text-decoration: none;
}

title{
    text-transform: capitalize;
}

input:-webkit-autofill {
    border-style: none;
}



.pokemonIndexLink{
    transition-duration: 0.5s;
    cursor: pointer;
    text-transform: capitalize;
    background-color: white;
    color:black;
    text-decoration: none;
    outline: none;
    border: 1px solid black;
    display: flex;
    text-align: center;
    margin: auto;
}

.pokemonIndexLink:hover{
    background-color: black;
    color:white
}

.capitalize{
    text-transform: capitalize;
}

.pokename{
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}

.indexpokeimage{
    width: 100px;
}

.pokemonContainer{
    display: inline-block;
    margin:5px;
    padding:3px
}

.pokemonOutterContainer{
    flex-direction: row;
    margin:5% 0;
}

.pokeimage{
    width: 250px;
}

.evolutionImage{
    width: 100px;
}

.pokestats, .poketypes{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin:0 10%;
}

.pokeabilities{
    display:flex;
    flex-direction: column;
}

.stat-title{
    text-transform: uppercase;
}

.pokedexsubfield{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding:10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.pokedexDataContainer, .trainingContainer, .breedingContainer{
    width: 90%;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #F8F7FF;
}

.evolutionContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.singleLevelUpMoveContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 0.5px solid #d3d3d3;
}

.singleLevelUpMoveContainer p {
    width: 100px;
    margin: 3px;
}

























.ice-type{
    background-color: #6cf;
}

.grass-type{
    background-color: #7c5;
}

.water-type{
    background-color: #39f;
}

.fire-type{
    background-color: #f42;
}

.bug-type{
    background-color: #ab2;
}

.poison-type{
    background-color: #a59;
}

.steel-type{
    background-color: #aab;
}

.dragon-type{
    background-color: #76e;
}

.fight-type{
    background-color: #b54;
}

.fairy-type{
    background-color: #e9e;
}

.electric-type{
    background-color: #fc3;
}

.ground-type{
    background-color: #db5;
}

.flying-type{
    background-color: #89f;
}

.psychic-type{
    background-color: #f59;
}

.ghost-type{
    background-color: #66b;
}

.dark-type{
    background-color: #754;
}

.rock-type{
    background-color: #ba6;
}
.normal-type{
    background-color: #aa9;
}