
body{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
}

footer{
    background-color: darkgrey;
    margin-top: 25px;
}

p{
    text-transform: capitalize;
    margin:0;
    padding:5px;
}

a{
    color:#2769be;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    color: #c03028;
}

title{
    text-transform: capitalize;
}

input:-webkit-autofill {
    border-style: none;
}

tbody{
    display:flex;
    flex-direction: column;
}

.next-prev-container{
    display: flex;
    justify-content: space-between;
    margin: 5% 1%;
}

.next-prev{
    display: flex;
}

.pokeTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonIndexLink{
    transition-duration: 0.5s;
    cursor: pointer;
    text-transform: capitalize;
    background-color: white;
    color:black;
    text-decoration: none;
    outline: none;
    border: 1px solid black;
    display: flex;
    text-align: center;
    margin: auto;
}

.pokemonIndexLink:hover{
    background-color: black;
    color:white
}

.capitalize{
    text-transform: capitalize;
}

.pokename{
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}

.indexpokeimage{
    width: 100px;
}

.pokemonContainer{
    display: inline-block;
    margin:5px;
    padding:3px
}

.pokemonOutterContainer{
    flex-direction: row;
    margin:5% 0;
}

.pokeimage{
    width: 250px;
}

.evolutionImage{
    width: 100px;
}

.pokestats, .poketypes{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin:0 10%;
}

.pokeabilities{
    display:flex;
    flex-direction: column;
}

.stat-title{
    text-transform: uppercase;
}

.pokedexsubfield{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding:10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.pokedexDataContainer, .trainingContainer, .breedingContainer{
    width: 90%;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #F8F7FF;
}

/* Type defense */
.type-defense-container{
    display: flex;
    justify-content: center;
}

.type-defense-element{
    display: flex;
    flex-direction: column;
    padding: 1px;
    border: 1px solid darkgrey;    
}

.type-defense-type{
    border-bottom: 1px solid lightgrey;
}



/* Evolution Section */
.evolutionContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pokemon-evolution{
    display: flex;
}

.pokemon-evolution-arrow-and-level{
    margin:auto;
}


/* Moves Section */
.singleLevelUpMoveContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 0.5px solid #d3d3d3;
    background-color: #F8F7FF;
}

.singleLevelUpMoveContainer p {
    width: 100px;
    margin: 3px;
}

.shinypokeimage{
    width: 150px;
}







.move-data{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    background-color: #F8F7FF;
}

.move-learned-pokemon-container, .pokemon-of-type-container{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}


.item-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-version-description{
    display: flex;
    text-align: left; 
    margin:10px 20px;
}

.item-version-description p{
    flex: 1;
}


















.ice-type{
    background-color: #6cf;
}

.grass-type{
    background-color: #7c5;
}

.water-type{
    background-color: #39f;
}

.fire-type{
    background-color: #f42;
}

.bug-type{
    background-color: #ab2;
}

.poison-type{
    background-color: #a59;
}

.steel-type{
    background-color: #aab;
}

.dragon-type{
    background-color: #76e;
}

.fighting-type{
    background-color: #b54;
}

.fairy-type{
    background-color: #e9e;
}

.electric-type{
    background-color: #fc3;
}

.ground-type{
    background-color: #db5;
}

.flying-type{
    background-color: #89f;
}

.psychic-type{
    background-color: #f59;
}

.ghost-type{
    background-color: #66b;
}

.dark-type{
    background-color: #754;
}

.rock-type{
    background-color: #ba6;
}
.normal-type{
    background-color: #aa9;
}