{% extends 'base.html' %}

{% block head %} 
    <title>{{ability['name'].capitalize()}} Ability Entery</title> 
{% endblock %}

{% block body %}
    <h1 class='capitalize'>{{ability['name']}}</h1>

    <h3>Effect</h3>
    <p>{{ability['effect']}}</p>

    <h3>Game Descriptions</h3>
    <div>
        {% for i in ability['flavor-text'] %}
        <div class = 'item-version-description'>
            <p>{{i['version'].replace('-',' ')}} </p>
            <p>{{i['text']}} </p>
        </div>
        {% endfor %}
    </div>

    <h3>Pokemon of with {{ability['name'].replace('-',' ')}}</h3>
        <div>
            {%for item in ability['pokemon-who-have']%}
                {% for p in pokemon %}
                    {% if item['name'] == p['name'] and item['is_hidden'] == False %}
                        <div class="pokemon-of-type-container">
                            <a href="/pokemon/{{p['id']}}">
                                <img style="width:100px" src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{p['id']}}.png">
                                <p>{{p['name']}}</p>
                            </a>
                            {% if p['egg_groups'] %}
                                {% for i in p['egg_groups'] %}
                                    <p class='ability-pokemon-egg-groups'>{{i['name'].replace('-',' ')}}</p>
                                {% endfor %}
                            {% else %}
                                <p class='ability-pokemon-egg-groups'>Missing egg info</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

    <h3>Pokemon of with {{ability['name'].replace('-',' ')}} as a hidden ability</h3>
        <div>
            {%for item in ability['pokemon-who-have']%}
                {% for p in pokemon %}
                    {% if item['name'] == p['name'] and item['is_hidden'] == True %}
                        <div class="pokemon-of-type-container">
                            <a href="/pokemon/{{p['id']}}">
                                <img style="width:100px" src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{p['id']}}.png">
                                <p>{{p['name']}}</p>
                            </a>
                            {% if p['egg_groups'] %}
                                {% for i in p['egg_groups'] %}
                                    <p class='ability-pokemon-egg-groups'>{{i['name'].replace('-',' ')}}</p>
                                {% endfor %}
                            {% else %}
                                <p class='ability-pokemon-egg-groups'>Missing egg info</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

{% endblock %}