<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/images/pokemon_egg.ico') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class = 'header-container'>
    <a name = 'top' href="{{ url_for('index')}}">
        <div class='pokeTitleContainer'>
            <img src="{{ url_for('static', filename='css/images/pokemon_egg.ico') }}" alt="">
            <h1 class = "pokeTitle">PokéInfo</h1>
        </div>
    </a>
    <form action="{{ url_for('getNewPokemon')}}" method = "POST" >
        <div>
            <input id='autoInput' type="text" name="newName" placeholder="pikachu">
            <input type="submit">
        </div>
    </form>
</div>
    <script >
        $(function(){
            var names = [
                {% for item in data %}
                    '{{item['name']}}',
                {% endfor %}
            ];
            $('#autoInput').autocomplete({
                source: names
            });
        });
    </script>

    <div class = 'body'>
    <div class = 'main-container'>
    {% block body %}
   
    {% endblock %}
    </div>
    </div>
</body>
<footer >
    <div class = 'footer-space' style="height: 25px; background-color: #818589;">

    </div>
    <a href="#top">
        <p>Return to the top of the page</p>
    </a>
    <p style="font-size: 15px;">Pokémon images & names © 1995-2022 Nintendo/Game Freak.</p>
</footer>
    <script src="{{url_for('static', filename='css/scripts/script.js')}}"></script>
</html>