{% extends 'base.html' %}

{% block body %}

    <a href="{{ url_for('index')}}">
        <h1 class = "pokeTitle">PokéInfo</h1>
    </a>

    <form action="{{ url_for('getNewPokemon')}}" method = "POST" >
        <input type="text" name="newName" placeholder="pikachu">
        <input type="submit">
    </form>

    <h2 class='pokename'>{{PokeInfo['forms'][0]['name']}}</h2>
    <!-- <p>{{Pokedex['flavor_text_entries'][0]['flavor_text']}}</p> -->
    <img class='pokeimage' src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{PokedexNum}}.png">



    <h3> Pokedex Data </h3>

    <div class="pokedexDataContainer">
        <div class="pokedexsubfield">
            <p>National Dex #:</p>
            <p>{{PokedexNum}}</p>
        </div>

        <div class="pokedexsubfield">
            <p>Species:</p>
            <p>{{Pokedex['genera'][7]['genus']}}</p>
        </div>

        <div class="pokedexsubfield">
            <p>Height:</p>
            <p>{{PokeInfo['height']}}</p>
        </div>

        <div class="pokedexsubfield">
            <p>Weight:</p>
            <p>{{PokeInfo['weight']}}</p>
        </div>

        <div class="pokedexsubfield">
            <p>Egg Group:</p>
            {% for item in Pokedex['egg_groups'] %}
                <p>{{item['name']}}</p>
            {% endfor %}
        </div>

        <div class="pokedexsubfield">
            <p>Type(s):</p>
            {% for item in PokeInfo['types'] %}
                <!-- There's probably a better way to do this -->
                {% if item['type']['name'] == "grass" %}
                    <p class="grass-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "water" %}
                    <p class="water-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "fire" %}
                    <p class="fire-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "bug" %}
                    <p class="bug-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "poison" %}
                    <p class="poison-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "electric" %}
                    <p class="electric-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "dragon" %}
                    <p class="dragon-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "fighting" %}
                    <p class="fight-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "ground" %}
                    <p class="ground-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "flying" %}
                    <p class="flying-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "steel" %}
                    <p class="steel-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "fairy" %}
                    <p class="fairy-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "psychic" %}
                    <p class="psychic-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "ghost" %}
                    <p class="ghost-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "dark" %}
                    <p class="dark-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "rock" %}
                    <p class="rock-type">{{item['type']['name']}}</p>
                {% elif item['type']['name'] == "normal" %}
                    <p class="normal-type">{{item['type']['name']}}</p>
                {% else %}
                    <p>{{item['type']['name']}}</p>
                {% endif %}
            {% endfor %}
        </div>


        <div class="pokedexsubfield">
            <p>Abilities:</p>
            <div class="pokeabilities">
                {% for item in PokeInfo['abilities'] %}
                    {% if item['is_hidden'] == True %}
                        <p>{{item['ability']['name']}} <span>(H.A.)</span></p>
                    {% else %}
                        <p>{{item['ability']['name']}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

    <h3>Training</h3>
    <div class = "trainingContainer">
        <div class="pokedexsubfield">
            <p>Catch Rate:</p>
            <p>{{Pokedex['capture_rate']}}</p>
        </div>

        <div class="pokedexsubfield">
            <p>Base Happiness:</p>
            <p>{{Pokedex['base_happiness']}}</p>
        </div>

        <div class="pokedexsubfield">
            <p>Base Experience:</p>
            <p>{{PokeInfo['base_experience']}}</p>
        </div>

        <div class="pokedexsubfield">
            <p>Growth Rate:</p>
            <p>{{Pokedex['growth_rate']['name']}}</p>
        </div>
    </div>

    <h3>Stats</h3>
    <div class="pokestats">
        {% for item in PokeInfo['stats'] %}
            {% if item['base_stat'] < 60 %}
                <p class="stat-title">{{item['stat']['name']}} : <span style="color:red">{{item['base_stat']}}</span></p>
            {% elif item['base_stat'] < 90 %}
                <p class="stat-title">{{item['stat']['name']}} : <span style="color:orange">{{item['base_stat']}}</span></p>
            {% elif item['base_stat'] < 125 %}
                <p class="stat-title">{{item['stat']['name']}} : <span style="color:green">{{item['base_stat']}}</span></p>
            {% else %}
                <p class="stat-title">{{item['stat']['name']}} :  <span style="color:cyan">{{item['base_stat']}}</span></p>
            {% endif %}
        {% endfor %}
    </div>

    <h3>Evolution</h3>

{% endblock %}