{% extends 'base.html' %}

{% block head %} 
    <title>{{type['name'].capitalize()}} Typing Entery</title> 
{% endblock %}

{% block body %}

<h1 class = 'capitalize'>{{type['name']}}</h1>

<h3>Offensive pros and cons</h3>

<p>{{type['name']}} moves are super-effective against:</p>
    <div class = 'type-page-typing-container'>
        {% for item in type['double_damage_to'] %}
            <a href="/type/{{item}}">
                <p style='color:black;' class='{{item}}-type'>{{item}}</p>
            </a>
        {% endfor %}
    </div>

<p>{{type['name']}} moves are not very effective against:</p>
    <div class = 'type-page-typing-container'>
        {% for item in type['half_damage_to'] %}
            <a href="/type/{{item}}">
                <p style='color:black;' class='{{item}}-type'>{{item}}</p>
            </a>        
        {% endfor %}
    </div>

<p>{{type['name']}} moves have no effect against:</p>
    <div class = 'type-page-typing-container'>
        {% for item in type['no_damage_to'] %}
            <a href="/type/{{item}}">
                <p style='color:black;' class='{{item}}-type'>{{item}}</p>
            </a>        
        {% endfor %}
    </div>

<h3>Defensive pros and cons</h3>

<p>These types are super-effective against {{type['name']}} Pokémon:</p>
<div class = 'type-page-typing-container'>
    {% for item in type['double_damage_from'] %}
        <a href="/type/{{item}}">
            <p style='color:black;' class='{{item}}-type'>{{item}}</p>
        </a>    
    {% endfor %}
</div>

<p>These types are not very effective against {{type['name']}} Pokémon:</p>
<div class = 'type-page-typing-container'>
    {% for item in type['half_damage_from'] %}
        <a href="/type/{{item}}">
            <p style='color:black;' class='{{item}}-type'>{{item}}</p>
        </a>    
    {% endfor %}
</div>

<p>These types have no effect on {{type['name']}} Pokémon:</p>
<div class = 'type-page-typing-container'>
    {% for item in type['no_damage_from'] %}
        <a href="/type/{{item}}">
            <p style='color:black;' class='{{item}}-type'>{{item}}</p>
        </a>    
    {% endfor %}
</div>



<h3>Significant Trainers</h3>

    <div class = 'type-gymleader-master-container'>
        {% for item in gymLeaders %}
            <div class = 'type-gymleader-individual-container'>
                <img src="{{ url_for('static', filename='css/images/gymLeaderImages/' + item["name"] + '-' + item['version'] + '.png') }}" alt="">                    
                <p>{{item['name'].replace('-',' ')}}</p>
                <p class='type-gymleader-individual-container-small-text'> {{item['location'].replace('-',' ')}} </p>
                <p class='type-gymleader-individual-container-small-text'> {{item['version'].replace('-',' ')}} </p>
            </div>
        {% endfor %}
    </div>




<h3>Pokemon of Type</h3>
    <div>
        {%for item in type['pokemon_of_type']%}
            {% for p in pokemon %}
                {% if item == p['name']%}
                    <div class="pokemon-of-type-container">
                        <a href="/pokemon/{{p['id']}}">
                            <img style="width:100px" src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{p['id']}}.png">
                            <p>{{p['name']}}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

<h3>Moves of Type</h3>

<div>
    <div class = 'singleLevelUpMoveContainer'>
        <!-- Add TM number -->
        <p>Move</p>
        <p>Type</p>
        <p>Cat.</p>
        <p>Power</p>
        <p>PP</p>
    </div>
    {%for item in type['moves_of_type']%}

        {% for m in move %}
            {% if item == m %}
            <div class = 'singleLevelUpMoveContainer'>
                <a href="/move/{{item}}">
                    <p> {{move[m]['name'].replace('-',' ')}} </p>
                </a>
                <a href="/type/{{move[m]['type']}}">
                    <p style="color:black;" class="{{move[m]['type']}}-type"> {{move[m]['type']}} </p>
                </a>
                <p> {{move[m]['damage_class']}} </p>
                <p> {{move[m]['power']}} </p>
                <p> {{move[m]['pp']}} </p>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>


{% endblock %}